@inject IJSRuntime JS

<div id="start-menu"
     @ref="divReference"
     class="start-menu skin"
     hidden=@IsStartMenuHidden
     tabindex=-1
     @onfocusout="DivLostFocus">
    <div class="start-menu-sidebar">
        Windows 98
    </div>
    <div class="start-menu-shortcut-container">
        @* TODO make this a component? *@
        <div class="start-menu-shortcut">
            <img class="start-menu-icon">
            <div>
                Programs
            </div>
        </div>
        <div class="start-menu-shortcut">
            <img class="start-menu-icon">
            <div>
                Photos
            </div>
        </div>
        <div class="start-menu-shortcut">
            <img class="start-menu-icon">
            <div>
                Games
            </div>
        </div>
        <div class="start-menu-shortcut">
            <img class="start-menu-icon">
            <div>
                Settings
            </div>
        </div>
        <div class="start-menu-shortcut">
            <img class="start-menu-icon">
            <div>
                Log Off
            </div>
        </div>
        <div class="start-menu-shortcut">
            <img class="start-menu-icon">
            <div>
                Shut Down
            </div>
        </div>
    </div>
</div>

@code {
    private bool IsStartMenuHidden { get; set; } = true;
    private bool _toggleStartMenu = false;
    private ElementReference divReference;

    protected override Task OnAfterRenderAsync(bool firstRender)
    {
        if (_toggleStartMenu)
        {
            divReference.FocusAsync();
            _toggleStartMenu = false;
        }
        return base.OnAfterRenderAsync(firstRender);
    }

    /// <summary>
    /// Toggles the visibility of the StartMenu component
    /// </summary>
    public async Task ToggleStartMenu()
    {
        IsStartMenuHidden = !IsStartMenuHidden;
        await InvokeAsync(StateHasChanged);
        _toggleStartMenu = true;
    }

    private async Task DivLostFocus()
    {
        bool isStartMenuActive = await IsStartMenuActive();
        if (isStartMenuActive) {
            //focus wasn't actually lost since start-menu is stil active
            return;
        }
        IsStartMenuHidden = true;
    }

    /// <summary>
    /// Calls javascript interop method to determine whether the start-menu
    /// is the active element
    /// </summary>
    /// <returns>true if start-menu is active, false otherwise</returns>
    private async Task<bool> IsStartMenuActive()
    {
        IJSObjectReference jsModule = await 
            JS.InvokeAsync<IJSObjectReference>("import", "./Components/StartMenu.razor.js");
        string focusedId = await jsModule.InvokeAsync<string>("getActiveElement");
        if (focusedId is not null && focusedId == "start-menu") 
        {
            return true;
        }
        if (focusedId == "start-button") 
        {
            return true;    
        }
        return false;
    }
}
