@inject IWindowManager windowManager
<StartMenu @ref=startMenu>
</StartMenu>

<footer class="taskbar skin">
    <div class="taskbar-container">
        <button class="start-button"
                id="start-button"
                @onclick="StartButtonClicked">
            <img class="start-button-img" src="images/StartMenu.png"/>
            <div>Start</div>
        </button>
        <div class="taskbar-programs-list">
            @foreach(Window window in windowManager.OpenWindows)
            {
                <button class="taskbar-program"
                        @onclick=window.Minimize>
                    <div>@window.Name</div>
                </button>
            }
        </div>
        <div class="taskbar-status">
            @DateTime.Now.ToString("hh:mm tt")
        </div>
    </div>
</footer>

@code {
    private StartMenu startMenu;

    protected override void OnInitialized()
    {
        // Update taskbar window list
        windowManager.OnOpenWindowsChanged += (obj, args) => StateHasChanged();
    }

    private async Task StartButtonClicked()
    {
        await startMenu.ToggleStartMenu();
    }
}