@inject IWindowManager windowManager

<div class="window-container">
    @foreach (KeyValuePair<Window, int> pair in windowManager.OpenWindows)
    {
        <Window OnWindowClosed="() => CloseWindow(pair.Key)"
                ZIndex=@pair.Value
                OnWindowFocused="() => BringToTop(pair.Key)">
        </Window>
    }
</div>

<button @onclick=OpenNewWindow>Open New Window</button>
@*This Component might not be necessary*@

@code {
    private void OpenNewWindow()
    {
        windowManager.OpenNewWindow();
    }

    private void CloseWindow(Window window)
    {
        windowManager.CloseWindow(window);
    }

    private void BringToTop(Window window)
    {
        windowManager.BringToTop(window);
    }
}
