@inject IWindowManager windowManager

<div class="window-container">
    @foreach (Window window in windowManager.OpenWindows)
    {
        <TextEditor Window=window
            OnWindowFocused=BringToTop
            OnWindowClosed=CloseWindow
            @key=window>
        </TextEditor>
    }
</div>

@code {
    protected override void OnInitialized()
    {
        windowManager.OnOpenWindowsChanged += (obj, args) => StateHasChanged();
    }

    private void OpenNewWindow()
    {
        Window window = new();
        //TODO: move the window naming code elsewhere
        window.Name = $"Untitled.txt";
        window.OnWindowStateChanged += (obj, args) => StateHasChanged();
        windowManager.OpenNewWindow(window);
    }

    private void CloseWindow(Window window)
    {
        windowManager.CloseWindow(window);
    }

    private void BringToTop(Window window)
    {
        windowManager.BringToTop(window);
    }
}
