@inject IJSRuntime JS

<div class="program-container"
     style="width:@Width; height:@Height; 
        top: @String.Concat(YPos, "px"); left: @String.Concat(XPos, "px");
        z-index:@ZIndex;"
     hidden=@(!visible)
     @onmousedown=WindowFocused>
    <div class="title-bar skin"
         @onmousedown="StartDrag"
         id=@id.ToString()>
        <btn class="button title-bar-button"
             @onclick="Close">
            x
         </btn>
        <btn class="button title-bar-button"
             @onclick="Maximize">
            []
         </btn>
        <btn class="button title-bar-button"
             @onclick="Minimize">
            --
        </btn>
    </div>
    <div class="program-body skin">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
    public RenderFragment ChildContent { get; set; }
    [Parameter]
    public string Width { get; set; } = "400px";
    [Parameter]
    public string Height { get; set; } = "400px";
    [Parameter]
    public double XPos { get; set; } = 200;
    [Parameter]
    public double YPos { get; set; } = 200;
    [Parameter]
    public int ZIndex { get; set; } = 0;
    [Parameter]
    public EventCallback OnWindowClosed { get; set; }
    [Parameter]
    public EventCallback OnWindowFocused { get; set; }
    private WindowState windowState = WindowState.Windowed;
    private bool visible = true;
    private DotNetObjectReference<Window>? dotNetHelper;
    private IJSObjectReference? jsModule;
    private Guid id = Guid.NewGuid();
    /// <summary>
    /// Window drag variables
    /// </summary>
    public double StartX, StartY;

    protected override async Task OnInitializedAsync()
    {

        dotNetHelper = DotNetObjectReference.Create(this);
        jsModule = await JS.InvokeAsync<IJSObjectReference>("import", "./Components/Window.razor.js");
    }

    private async Task Close()
    {
        // It is the responsibility of the window manager to close
        // the window
        await OnWindowClosed.InvokeAsync();
    }

    private void Maximize()
    {
        if (windowState == WindowState.Windowed)
        {
            windowState = WindowState.Maximized;
        }
        else if (windowState == WindowState.Maximized)
        {
            windowState = WindowState.Windowed;
        }
        XPos = 0;
        YPos = 0;
        Width = "100%";
        Height = "100%";
    }

    private void Minimize()
    {
        windowState = WindowState.Minimized;
        visible = false;
    }

    private async Task StartDrag(MouseEventArgs args)
    {
        // Cannot drag a maximized window
        if (windowState == WindowState.Maximized)
        {
            return;
        }
        StartX = args.ClientX;
        StartY = args.ClientY;
        await jsModule.InvokeVoidAsync("dragStart", dotNetHelper);
    }

    [JSInvokable]
    public void MouseMove(double clientX, double clientY)
    {
        double offsetX = clientX - StartX;
        double offsetY = clientY - StartY;
        XPos += offsetX;
        YPos += offsetY;
        StartX = clientX;
        StartY = clientY;
        StateHasChanged();
    }

    private async Task WindowFocused(MouseEventArgs args)
    {
        
        await OnWindowFocused.InvokeAsync();
    }
}
